html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 0 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.login_h1 {
    text-align: center; 
    margin: 100px 0 50px 0;
}
.backend-auth-login {
    width: 300px;
    margin:  0px auto;
}
.container {
    width: 100%;
}
.nav > li > a {
    padding: 10px 15px;
}
.table tr td:first-child {
    width: 50px;
}
.table tr td:last-child {
    width: 90px;
    text-align: center;
}
    .table tr td:last-child a {
        margin: 0 3px; 
    }
.non_list_table tr td:first-child {
    text-align: left;
    width: auto;
}
.non_list_table tr td:last-child {
    text-align: left;
    width: auto;
}
.form_error {
    color: #a94442;
}
.cancel_button {
    margin-left: 20px;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
}
ol.example li.placeholder:before {
  position: absolute;
}
.add_button_box {
    margin: 0 0 20px 0;
    text-align: right;
}
.nav-tabs {
    margin-bottom: 15px;
}
.jqte {
    margin: 0px;
    border: none;
}
.try_video_box {
    width: 560px; 
    height: 315px;
    margin: 10px 0 0 0;
    display: none;
}
.nav-tabs li.error a {
    color: #ce8483;
    font-weight: bold;
}
.image_preview_box {
    display: none;
    margin-top: 15px;
}
    .image_preview_box .image_preview {
        max-width: 500px; 
        border: 1px solid #eed3d7;
    }
.add_record_button {
    float: right;
}
.captcha_box {
    text-align: right;
    position: relative;
}
    .captcha_box img {
        float: left;
    }
    .captcha_box input {
        width: 50%;
        position: relative;
        top: 7px;
        display: inline-block;
    }
.alert_box {
    margin-top: 52px;
}
.bottom_delimiter {
    clear:both;
    margin-bottom: 20px !important;
}
.table tr td .thumbnail {
    height: auto;
    width: auto;
    display: inline-block;
    margin-bottom: 0;
}
.image_preview_box .thumbnail {
    height: auto;
    width: auto;
    display: inline-block;
    margin-bottom: 0;
}
.breadcrumb {
    padding-left: 0;
    margin-bottom: 0;
    clear: both;
}
.product_param_input {
    display: inline-block;
    width: 40%;
}
.order_product_box .product_amount {
    font-weight: bold;
    font-size: 16px;
}
.order_handle {
    display: inline-block;
    margin: 0 3px;
    cursor: pointer;
}
.order_placeholder {
    background-color: #bed9d9 !important;
}
.clock_box {
    font-size: 20px;
    margin: 12px 20px 0 20px;
}
    .clock_box small {
        color: #cfc3c3;
    }
.level_item {
    display: inline-block;
    width: 30px;
    height: 1px;
    margin: 0;
    padding: 0;
}
.time_input {
    width: 130px;
    display: inline-block;
}
.calendar {
    
}
    .calendar td {
        height: 10px;
    }
    .calendar .calendar-month {
        background-color: #d2d2d2;
        text-align: center;
        font-weight: bold;
        color: #ffffff;
    }
    .calendar .calendar-day-head {
        background-color: #eeeeee;
    }
        .calendar .calendar-row .calendar-day {
            background-color: #ffffff;
            text-align: center;
            height: 10px;
            cursor: pointer;
        }
        .calendar .calendar-row .calendar-day.checked {
            background-color: #3662a8;
            color: #ffffff;
        }
        
.well {
    background-color:  #eaeced;
}

.has-error .cleditorMain {
    border-color: #843534;
}

.crop_image_box {
    margin-top: 20px;
    position: relative;
}

.table-striped tbody tr:hover {
    background-color: #e5e5e5;
}

.form-group a {
    text-decoration: underline;
}
.form-group a.btn {
    text-decoration: none;
}
.table a {
    text-decoration: underline;
}
a.glyphicon {
    text-decoration: none;
}
.panel a {
    text-decoration: underline;
}
.user_links a {
    display: inline-block;
    margin: 3px 20px 3px 0;
    text-decoration: underline;
}
nav .fa, .panel .fa {
    font-family: FontAwesome;
}
.history_container {
    max-height: 1000px;
    overflow-y: auto;
}

/* Calendar */
.calendar_table thead th {
    text-align: center;
    background-color: #ffffff;
    font-size: 120%;
}
.calendar_table thead .month_box {
    text-align: center;
    font-size: 140%;
}
    .calendar_table thead .month_box .prev_month {
        text-align: left;
    }
    .calendar_table thead .month_box .next_month {
        text-align: right;
    }
    .calendar_table tbody tr td {
        height: 120px;
    }
.calendar_table thead .week_days_box th {
    background-color: #009999;
    color: #ffffff;
}
.calendar_table tbody tr .in_month {
    background-color: #ffffff;
    cursor: pointer;
}
.calendar_table tbody tr .today {
    background-color: #F4FF77;
}
    .calendar_table tbody tr .in_month a {
        display: block;
        background-color: #00AA88;
        padding: 1px 5px;
        color: #ffffff;
        font-weight: 600;
        font-size: 12px;
        text-decoration: none !important;
        border-radius: 7px;
        margin: 0 0 2px 0;
        line-height: 20px;
    }
/* END Calendar */

/* Chat */
.chat .chat_list li {
    cursor: pointer;
}
.chat .chat_list li.active {
    cursor: auto;
}
    .chat .chat_list li img {
        display: inline-block;
        margin-right: 15px;
        height: 20px;
    }
.chat .chat_header img {
    display: inline-block;
    margin-right: 20px;
    height: 30px;
}
.chat_form_box {
    margin-top: 20px;
}
.chat_form_box .chat_form_submit_box {
    text-align: right;
}
    .chat_form_box .chat_form_submit_box button {
        margin-right: 0;
    }
.chat_messages {
    max-height: 800px;
    overflow-x: hidden;
    overflow-y: auto;
}
.chat_messages .chat_message_box .chat_avatar_box img {
    height: 20px;
}
.chat_messages .manager_message .x_panel {
    background-color: #f4f2f2;
}
    .chat_messages .manager_message .chat_message_time {
        text-align: right;
    }
        .chat_messages .chat_message_time .chat_message_new {
            float: right;
            color: #fb7e41;
        }
        .chat_messages .chat_message_time .edit_icon {
            float: left;
            display: inline-block;
            margin-right: 10px;
            cursor: pointer;
        }
.chat_messages .system_message .x_panel {
    background-color: #f2f988;
}
    .chat_messages .system_message .chat_message_time {
        text-align: right;
    }
.chat_message .chat_message_files a {
    display: inline-block;
    margin-right: 25px;
}
    .chat_message .chat_message_files a .fa {
        display: inline-block;
        margin-right: 5px;
    }
.edit_message_files {
    margin-bottom: 15px;
}
    .edit_message_files .fa {
        display: inline-block;
        margin-right: 5px;
    }
    .edit_message_files .edit_message_file_name {
        display: inline-block;
        margin-right: 25px;
    }
    .edit_message_files .fa-remove {
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
    }
/* END Chat */

.header_alert_box {
    font-size: 20px;
    margin: 12px 15px 0 15px;
}
    .header_alert_box .header_alert {
        background-color: #c55;
        color: #ffffff;
        padding: 7px;
        margin-left: 10px;
        display: none;
    }
        .header_alert_box .header_alert a {
            color: #ffffff;
        }
.loading_box {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
    .loading_box img {
        width:100px;
    }
.dashboar_stat_box {
    font-size: 18px;
}
    .dashboar_stat_box strong {
        font-size: 130%;
    }
.total_loading .loading_box {
    margin-top: 20px;
    margin-bottom: 20px;
}