@font-face {
    font-family: 'GothamPro';
    src: url("/fonts/GothaProBol.otf");
    font-weight: 700;
    font-style: normal;
}

body, html {
    background-color: #1D1D1D;
    /*background-image: url("/images/maintenance/bg.png");*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding: 0;
    margin: 0;
    overflow: no-display;
    font-family: 'Arial';
    /*font-family: 'GothamPro';*/
}
.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    width: 750px;
    height: 534px;
    max-width: 750px;
    max-height: 534px;
    padding: 0;
    margin: 0 auto;
    /*overflow: hidden;*/
/*    min-width: 100%;
    min-height: 100%;*/
}
    .main_container img {
        width: 100%;
        height: 100%;
    }
.logo_box {
    width: 120px;
    height: 120px;
}
    .logo_box img {
        width: 100%;
        height: 100%;
    }
.message_box {
    background-color: #fff;
    margin-top: 20px; 
    padding: 10px 25px;
    border-radius: 20px;
    text-align: center;
    max-width: 30%;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
}
.cog_box_1 {
    width: 525px;
    height: 525px;
    position: absolute;
    top: -120px;
    left: -120px;
    z-index: -1;
}
.cog_box_2 {
    width: 190px;
    height: 190px;
    position: absolute;
    top: 50px;
    left: 460px;
    z-index: -2;
}
.cog_box_3 {
    width: 750px;
    height: 750px;
    position: absolute;
    top: 130px;
    left: 90px;
    z-index: -3;
}